<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
  </div>


  <!--  此script都是个人添加，全部删除无影响-->
  <script src="/js/toc.js" type="text/javascript"></script>
  <script>
    window.addEventListener('hexo-blog-decrypt', function () {
      // 修复 hbe-container 样式问题
      const containers = document.querySelectorAll('.hbe-container');
      containers.forEach(container => {
        container.style.margin = '0 0';
        container.style.overflow = 'hidden';
      });

      // 给解密后的文章添加 id
      const contentEl = document.querySelector('.content.e-content');
      if (contentEl) {
        contentEl.setAttribute('id', 'post');
      }

      // 等待文章渲染完成后再生成 TOC，避免空 toc
      setTimeout(() => {
        if (typeof makeList === 'function') {
          makeList({
            target: '#toc',
            parent: 'article'
          });
        } else {
          console.warn('makeList 未定义，TOC 无法生成');
        }
      }, 100); // 加一点延迟，防止文章还未完全渲染
    });
  </script>
  <!--  end-->

</article>
<%- partial('_partial/comments') %>
